doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    nav.navbar.navbar-default
      .container
        a(href="/") watson
        ul
          li
            a(href="/articles") 文章
          li
            a(href="/admin") 管理员
    block content
