doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    .headerImg(src='/static/images/top_images.jpg')
    nav.header
      ul
        li 首页
        li 推荐文章
        li 电影分享
        li 关于我的
        li 工作笔记
    block content
